.inputGroup {
    justify-content: right;
}

.searchInput {
    flex: 0 1 auto !important;
    width: fit-content !important;
}

.recipeDetails {
    text-align: left;
}

.recipeDetailImage {
    width: 256px!important;
}

.recipeDetailImageOverlay {
    background-color: rgba(0, 0, 0, 0.5);
}

.buttonColumn {
    flex: 0 0 auto!important;
    width: auto!important;
    padding-top: 25px;
}
@media (max-width: 768px) {
    .buttonColumn {
        padding-top: 54px;
    }
}

.arrowButton {
    font-size: 1.3rem;
    cursor: pointer;
}

.newButton {
    text-align: left;
}

.backButton {
    text-align: left;
}